/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-image: none !important;
}

.css-xxuewr {
  max-width: 100% !important;
  max-height: 87vh !important;
  overflow: auto !important;
}

.editorWrap {
  max-width: 100% !important;
  max-height: 90vh !important;
  overflow: auto !important;
}

/* 不限制卡片长度 */
.Knowledge-body {
  max-height: 1000px !important;
  overflow: auto;
}
